#################################################
#	eclips settings				#
#################################################
build/
#################################################
# modified By Saurav "saurav@medisys.com.sa" 	#
#################################################