#################################################
#	eclips settings				#
#################################################
.classpath
.settings/
build/
#################################################
# modified By Saurav "saurav@medisys.com.sa" 	#
#################################################
/bin/
